body {
  margin: 0;
  font-family: 'MyFont';
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/MyFont.woff) format('woff');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
